<!DOCTYPE html>
<html>
<head>
  <title>MobileCwApi</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Greenwich Fitness API <small>Phil Brockwell</small></h1>

<%= yield %>

</body>
</html>
